.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  height: 25rem;

  border-radius: 2px;
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.1);
  background: rgb(0, 0, 0);

  filter: contrast(25);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  position: relative;
  width: 5.6rem;
  height: 5.6rem;
  background: #fff;
  border-radius: 50%;
  filter: blur(15px);
}

@for $i from 1 through 8 {
  .start-#{$i} {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    width: 3.12rem;
    height: 3.12rem;

    transform: rotate(random(300) + deg);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 3.12rem;
      height: 3.12rem;

      background: #fff;
      border-radius: 50%;

      transform-origin: (37 - $i * 3) + px (37 - $i * 3) + px;
      animation: animate
        (2.5 + $i / 5) +
        s
        ease-in-out
        ($i / 5) +
        s
        infinite
        both;
      filter: blur(5px);
    }
  }
}

@for $i from 1 through 10 {
  .end-#{$i} {
    position: absolute;
    top: 2.35rem;
    left: 2.35rem;
    width: (6 + $i) + px;
    height: (6 + $i) + px;
    transform: rotate(random(300) + deg);

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: (6 + $i) + px;
      height: (6 + $i) + px;

      background: #fff;
      border-radius: 50%;

      transform-origin: (60 - $i * 2) + px (60 - $i * 2) + px;
      animation: animate
        (3.5 + $i / 5) +
        s
        ease-in-out
        ($i / 5) +
        s
        infinite
        both;
      filter: blur(3px);
    }
  }
}

@keyframes animate {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  to {
    transform: rotate(360deg) translate3d(0, 0, 0);
  }
}
