*,
*::after,
*::before {
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  margin-top: 10rem;
  background-color: #fff;
  width: 50rem;
  height: 30rem;
  position: relative;
}

.first-anim {
  margin-top: 10rem;
  margin-left: 14rem;
  padding-right: 7.5rem;
  padding-top: 0.1rem;
  display: inline-block;
  overflow: hidden;
}

.top-slide {
  position: absolute;
  top: 8.7rem;
  left: 12.5rem;
  width: 12rem;
  height: 1.2rem;
  background-color: #fcd0fc;
  border: 2px solid #710580;
}

.frame {
  width: 9rem;
  height: 10rem;
  border: 2px solid #710580;
  margin: 0 auto;
  margin-top: -0.1rem;
  transform: translateY(-12rem);
  -webkit-animation: frame-animate 3s ease-in-out -2s infinite both;
          animation: frame-animate 3s ease-in-out -2s infinite both;
}
.frame .box {
  width: 6rem;
  height: 7rem;
  background-color: #fcd0fc;
  border: 1px solid #710580;
  margin: auto;
  margin-top: 1rem;
  position: relative;
}
.frame .box .circle {
  position: absolute;
  top: 2rem;
  left: 0.7rem;
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  background-color: #b306b9;
}
.frame .box .angle {
  width: 0;
  height: 0;
  position: absolute;
}
.frame .box .angle-1 {
  left: 2.7rem;
  bottom: 0.7rem;
  border-bottom: 4rem solid #fff;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
}
.frame .box .angle-2 {
  left: 0.6rem;
  bottom: 0.7rem;
  border-bottom: 3.3rem solid #fff;
  border-left: 1.5rem solid transparent;
  border-right: 1.1rem solid transparent;
}

.mobile-frame {
  width: 12rem;
  height: 20rem;
  position: absolute;
  top: 5rem;
  right: 8rem;
  background-color: #fcd0fc;
  border: 2px solid #710580;
  border-radius: 1.2rem;
  overflow: hidden;
}
.mobile-frame .speaker {
  width: 2rem;
  height: 0.4rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  background-color: #b306b9;
  border-radius: 2px;
}
.mobile-frame .second-frame {
  width: 10.5rem;
  height: 18rem;
  position: absolute;
  top: 1.4rem;
  left: 0.7rem;
  background-color: #fff;
  border: 1px solid #710580;
  border-radius: 1.4rem;
  overflow: hidden;
}

.inner {
  -webkit-animation: 3s inner-animate-slide linear infinite;
          animation: 3s inner-animate-slide linear infinite;
  transform: translateX(-12rem);
}
.inner .mobile-box {
  width: auto;
  height: 11rem;
  background-color: #fcd0fc;
  margin: auto;
  margin-top: 2rem;
  position: relative;
}
.inner .mobile-box .mobile-cir-2 {
  position: absolute;
  top: 2.5rem;
  left: 1.4rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: #b306b9;
}
.inner .mobile-box .mob-angle-1 {
  position: absolute;
  bottom: 1rem;
  left: 0.8rem;
  border-bottom: 6rem solid #fff;
  border-left: 2.5rem solid transparent;
  border-right: 2.5rem solid transparent;
}
.inner .mobile-box .mob-angle-2 {
  position: absolute;
  bottom: 1rem;
  right: 0.2rem;
  border-bottom: 8rem solid #fff;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
}
.inner .group {
  display: flex;
}
.inner .group .cir {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #b306b9;
  margin-left: 0.4rem;
  margin-top: 0.4rem;
}
.inner .lines .line {
  margin-top: 0.5rem;
  margin-left: 0.6rem;
  width: 5rem;
  height: 0.1rem;
  background-color: #fcd0fc;
}
.inner .lines .line-2,
.inner .lines .line-3 {
  width: 9rem;
  height: 0.15rem;
}

@-webkit-keyframes inner-animate-slide {
  0% {
    transform: translate(-12rem, 0);
  }
  15.7% {
    transform: translate(0);
  }
  46.3% {
    transform: translate(0);
  }
  53.1% {
    transform: translate(0, -20rem);
  }
  71.4% {
    transform: translate(-12rem, -20rem);
  }
  94.5% {
    transform: translate(-12rem, 0);
  }
  100% {
    transform: translate(-12rem);
  }
}

@keyframes inner-animate-slide {
  0% {
    transform: translate(-12rem, 0);
  }
  15.7% {
    transform: translate(0);
  }
  46.3% {
    transform: translate(0);
  }
  53.1% {
    transform: translate(0, -20rem);
  }
  71.4% {
    transform: translate(-12rem, -20rem);
  }
  94.5% {
    transform: translate(-12rem, 0);
  }
  100% {
    transform: translate(-12rem);
  }
}
@-webkit-keyframes frame-animate {
  0% {
    transform: translate(0, -12rem);
  }
  60% {
    transform: translate(0, 0);
  }
  80%, 88% {
    transform: translate(17rem, 0);
  }
  90% {
    transform: translate(17rem, -12rem);
  }
  100% {
    transform: translate(-17rem, -12rem);
  }
}
@keyframes frame-animate {
  0% {
    transform: translate(0, -12rem);
  }
  60% {
    transform: translate(0, 0);
  }
  80%, 88% {
    transform: translate(17rem, 0);
  }
  90% {
    transform: translate(17rem, -12rem);
  }
  100% {
    transform: translate(-17rem, -12rem);
  }
}/*# sourceMappingURL=style.css.map */